DB_CONNECTION=postgresql+psycopg://usuario:senha@localhost:5432/nome_banco
COLLECTION_NAME=nome_colecao
LLM_MODEL_NAME=gpt-oss:20b
EMBEDDINGS_MODEL_NAME=mxbai-embed-large
OLLAMA_API_URL=http://localhost:11434
